APP_PORT=3000
POSTGRES_DB=tienda
POSTGRES_USER=tienda_user
POSTGRES_PASSWORD=
POSTGRES_PORT=5435
NODE_ENV=development
JWT_SECRET=
RESERVA_INVENTARIO_TTL_MIN=15
PAGO_PROVIDER_API_KEY=
PAGO_PROVIDER_URL=https://sandbox.pagos.local
RABBITMQ_USER=tienda
RABBITMQ_PASSWORD=
RABBITMQ_PORT=5674
RABBITMQ_MGMT_PORT=15674
